/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    color: #4a4747;
    margin: 0;
}
    
/* Header */
header {
    background-color: rgb(134, 223, 255);
}

header a {
    text-decoration: none;
    color: inherit
}

#logo {
    font-size: 250%;
    padding: 5px;
    text-align: center;
}

h1 {
    font-family: 'Chelsea Market', sans-serif;
}
/* Navigation Bar */
#navbar {
    list-style-type: none;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(220, 242, 249);
}

li {
    display: inline;
}

/* code partly taken from https://codepen.io/maheshambure21/pen/QwXaRw */
#navbar li a {
  position: relative;
}
#navbar li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #4a4747;
  height: 2px;
}
#navbar li a:hover:after {
  width: 100%;
}


/* Main content */
main {
    background-color: rgb(220, 242, 249);
    flex: 1 0 auto;
}

/* Shark Image on Home Page */
#hero-1 {
    height: 500px;
    max-width: 100%;
    background: url(../images/hero-1.jpeg) no-repeat left center/cover;  
}

.aside {
    margin: 30px 60px;
}

/* Gallery */
/* code below for the Gallery taken from https://blog.logrocket.com/responsive-image-gallery-css-flexbox/ */
#photo-column {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
}

#photo-column > li {
    flex-basis: 350px; 
}

#photo-column li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;    
}

#photo-column > li {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    font-size: small;
}

#photo-column li:hover .overlay {
    transform: scale(1);
}



/* Footer */
footer {
    background-color: aliceblue;
}

/* code taken from https://www.youtube.com/watch?v=_CEJZr8-OmY--> */
#social-networks {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    gap: 20px;
    list-style-type: none;
}

/* code taken from https://www.youtube.com/watch?v=_CEJZr8-OmY--> */
#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #4a4747;
    
}