/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    color: #3a3a3a;
    margin: 0;
}
    

    /* Header */
header {
    background-color: rgb(134, 223, 255);
}

/* Main content */
main {
    background-color: rgb(220, 242, 249);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: rgb(100, 190, 250);
}
