/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    color: #4a4747;
    margin: 0;
    line-height: 1.6;
}
    
/* Header */
header {
    background-color: rgb(134, 223, 255);
}

header a {
    text-decoration: none;
    color: inherit
}

#logo {
    font-size: 200%;
    padding: 2px;
    text-align: center;
    font-family: 'Chelsea Market', sans-serif;
    text-transform: uppercase;
    
}

/* Navigation Bar */
#navbar {
    list-style-type: none;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(220, 242, 249);
    box-shadow: 0 0 3px 0 #4a4747; 
}


li {
    display: inline;
}

/* code partly taken from https://codepen.io/maheshambure21/pen/QwXaRw */
#navbar li a {
  position: relative;
}

#navbar li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #4a4747;
  height: 2px;
}
#navbar li a:hover:after {
  width: 100%;
}


/* Main content */
main {
    background-color: rgb(220, 242, 249);
    flex: 1 0 auto;
    box-shadow: 0 0 2px 0 #4a4747;
}

#hero-1 {
    height: 500px;
    max-width: 100%;
    background: url(../images/hero-1.jpeg) no-repeat left center/cover;
    box-shadow: 0 0 5px 0 #4a4747; 
}

.aside {
    margin: 30px 60px;
}

/* Meet the team
/* code taken from https://stackoverflow.com/questions/22592064/how-to-align-text-below-an-image-in-css */
figure.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 310px;
}
img {
    max-width: 300px;
    max-height: 225px;
    box-shadow: 0 0 5px 0 #4a4747; 
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 400px) {
figure.item {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}
/* Shortcut to Booking Page */
.booking a {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

/* Gallery */
/* code below for the Gallery taken from https://blog.logrocket.com/responsive-image-gallery-css-flexbox/ */
#photo-column {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
}

#photo-column > li {
    flex-basis: 350px; 
}

#photo-column li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;    
}

#photo-column > li {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    font-size: small;
}

#photo-column li:hover .overlay {
    transform: scale(1);
}

/* Booking Form */
input{
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border: 2px solid rgba(57, 57, 57, 0.502);
    border-radius: 10px;
}

input:hover {
    box-shadow: 2px 2px 5px rgba(57, 57, 57, 0.502);
}

input[type="submit"] {
    background-color: #4a4747;
    width: 180px;
    display: block;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #7f7d7d;
}

#date,
input[type="submit"] {
    font-family: 'Rubik', sans-serif;
}

/* Footer */
footer {
    background-color: aliceblue;
    box-shadow: 0 0 2px 0 #4a4747; 
}

/* code taken from https://www.youtube.com/watch?v=_CEJZr8-OmY--> */
#social-networks {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    gap: 20px;
    list-style-type: none;
}

/* code taken from https://www.youtube.com/watch?v=_CEJZr8-OmY--> */
#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #4a4747;
    
}